{% extends "layout_calculate.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<section id="change_password" class="change_password">
    <div class="container">

        <div class="section-title">
            <h2>Change password</h2>
        </div>

        {% if get_flashed_messages() and behavior != "" %}
        <div class="row content justify-content-center">
            {% if behavior == "danger" %}
            <div class="col-lg-4 alert alert-danger" role="alert">
                <h5 class="alert-heading">
                    <span><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill" />
                        </svg></span>

            {% else %}
            <div class="col-lg-4 alert alert-success" role="alert">
                <h5 class="alert-heading">
                    <span><svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                            aria-label="Success:">
                            <use xlink:href="#check-circle-fill" />
                        </svg>
                    </span>

            {% endif %}

                    {{ title }}
                </h5>
                <hr>
                <p class="small ms-auto normal-text">{{ get_flashed_messages() | join(" ") }}</p>
            </div>
            </div>
            {% else %}
            <div class="mb-5">
                <p class="text-center ms-auto fs-3">Hello, <span class="current_username">{{session["username"]}}</span>
                </p>
            </div>
            {% endif %}


            <div class="row content justify-content-center pt-1">
                <div class="col-lg-4">
                    <form method="post" action="/change_password" autocomplete="off">

                        <div class="mb-3">
                            <label for="old_password" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="old_password" name="old_password">
                        </div>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password">
                            <div class="form-text pt-1">Password should be at least 8 characters long including 1 digit.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmation" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmation" name="confirmation">
                        </div>

                        <div class="d-grid gap-2 col-3 mx-auto pt-3">
                            <button class="btn btn-outline-primary" type="submit">Change</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row content">
                <div class="col-lg-4 pb-4">

                </div>
            </div>
        </div>
</section><!-- End Change Password Section -->


{% endblock %}